.App {
  position: absolute;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sscm-primary {
  background-color: #00AFF3;
  color: white;
}

.sscm-secondary {
  background-color: #FF9300;
  color: white;
}

.account-navigation {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  transition: width 0.5s;
  overflow-y: auto;
}

.app-sidebar-content {
  width: 100vw;
}

.account-navigation-hidden {
  background-color: transparent;
  width: 70px!important;
}

.app-sidebar-hide-content {
  display: none;
}

.profile-navigation {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 850px) {
  .profile-navigation {
    left: 400px;
  }
  
  .profile-navigation-expanded {
    left: 70px;
  }

  .app-sidebar-content {
    width: 400px;
  }

  .account-navigation {
    background-color: white;
    width: 400px;
    box-shadow: 5px 0px 5px #888888;
  }
}